/* $Id: blank.css 19763 2006-08-21 17:06:24Z landseer $ */

.wiifriendsblock {
  margin:0px;
  padding:0px;
  border:0px;
  border-spacing:0px;
  border-collapse:collapse;
  width:100%;
}

p.wiifriends {
    text-align: center;
}

ul#WiifriendsMenu {
}

ul#WiifriendsMenu li{
	display: inline;
	background: none;
}
